<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>certifica</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
    rel="stylesheet"/>
    <link rel="stylesheet" href="css/landingPageStyle.css" />
</head>
<body>
    <header>
    <div id="logo">
      <img src="/images/certifica_logo.png" alt="CERTIFICA LOGO" />
    </div>

    <nav>
      <ul id="anchors" class="nav-links">
        <li><a href="sobre-nos" target="_blank">Sobre nós</a></li>
        <li><a href="/">Tela inicial</a></li>
      </ul>
      <div id="hamburger">
        <div class="bar"></div>
      </div>
    </nav>
    </header>

    <main>
        <div id="logo-principal">
            <img src="/images/certifica_logo.png" alt="CERTIFICA LOGO" />
        </div>
        
        <h1>Sobre o Certifica</h1>
        <p>
            A Certifica é uma plataforma web criada para facilitar o gerenciamento de eventos acadêmicos e a emissão de certificados digitais. Usuários podem se inscrever em atividades como palestras e workshops, fazer check-in e receber seus certificados de forma automática.

            Apenas instituições reconhecidas podem criar eventos, o que garante a credibilidade da plataforma. Com um processo simples e seguro, promovemos a valorização da participação acadêmica de maneira prática e acessível.
        </p>
    </main>

    <footer>© 2025 certifica - Todos os direitos reservados.</footer>
</body>
</html>